<div id="login" class="container">
    <div class="row">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="accountId">Student Id</label>
              <input type="text" class="form-control" id="accountId" ng-model="accountId">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" ng-model="password">
            </div>
          </div>
          <button class="btn btn-primary" ng-click="submit()" ng-disabled="!accountId || !password">Sign in</button>
          <button class="btn btn-secondary" ng-click="createStudent()" ng-disabled="!accountId || !password">Create Account</button>
          <div class="error" ng-if="error">
              {{error}}
          </div>
        </form>
    </div>
    <div class="row">
        If this is your first time using our website, create an account by entering an ID and password of your choice. Click “Create account” and you will be automatically signed in if your ID is available.
    </div>
</div>
