<nav class="navbar navbar-light bg-light flex-pull-right">
    <button class="btn btn-primary" type="button" ng-click="home()">
        Home
    </button>
    <button class="btn btn-light" type="button" ng-click="logout()">
        Logout
    </button>
</nav>
<div id="list">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>{{'Question #' + currentQuestion}}</h4>
            </div>
            <div class="card-body">
                <form name="questionForm">
                    <div ng-include="'template/questions/' + currentQuestionSet.questionSetId + '/' + currentQuestion + '.html'"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nav aria-label="Question Pagination">
      <ul class="pagination justify-content-end">
        <li class="page-item" ng-class="{'disabled' : currentQuestion <= 1}">
          <button class="page-link" ng-click="prev()" ng-disabled="currentQuestion <= 1">Previous</button>
        </li>
        <li class="page-item" ng-class="{'disabled' : currentQuestion >= currentQuestionSet.numOfQuestions || !validateAnswer(currentQuestion - 1)}">
          <button class="page-link" ng-click="next()" ng-disabled="currentQuestion >= currentQuestionSet.numOfQuestions || !validateAnswer(currentQuestion - 1)">Next</button>
        </li>
        <li class="page-item" ng-show="currentQuestion == currentQuestionSet.numOfQuestions" ng-class="{'disabled' : !validateAnswer(currentQuestion - 1)}">
          <button class="page-link" ng-click="submit()" ng-disabled="!validateAnswer(currentQuestion - 1)">Submit</button>
        </li>
      </ul>
    </nav>
</div>
