<nav class="navbar navbar-light bg-light flex-pull-right">
    <button class="btn btn-primary" type="button" ng-click="home()">
        Home
    </button>
    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#giveUpModal"
        ng-if="(!currentQuestionSet.isCollaborative && answersObject.isSubmitted && !answersObject.currentGiveUpNumber) || (currentQuestionSet.isCollaborative && session && !session.currentGiveUpNumber)">
        Terminate
    </button>
    <button class="btn btn-light" type="button" ng-click="logout()">
        Logout
    </button>
</nav>

<div class="modal fade" id="giveUpModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="giveUpModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="giveUpModalTitle">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Terminating current answers / collaboration will remove your previous saved answers, hints, and messages. Please only confirm to terminate if you cannot continue. (For example: your partner is disconnected or doesn't respond)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="giveUp()">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="submitModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="submitModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="giveUpModalTitle">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          You will not able to change your answers after submitting.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="submit()">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warningOtherCheckModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="warningOtherCheckModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warningOtherCheckModalTitle">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          You cannot check different question's answers at the same time. Your collaborator is currently waiting for your answers in question #{{errorOtherCurrentlyCheckQuestion}}.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="attemptModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="attemptModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="attamptModalTitle">Check Answer</h5>
      </div>
      <div class="modal-body">
          <span class="spinner-border spinner-border-sm"></span>
          Please wait for your collaborator to enter answer in order to check your answers. You can cancel and re-check again later.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancelAttempts()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div ng-class="{'question-section' : currentQuestionSet.isCollaborative}">
    <div ng-class="{'container-fluid' : currentQuestionSet.isCollaborative, 'container' : !currentQuestionSet.isCollaborative}">
        <div class="card">
            <div class="card-header">
                <!--<h4>{{'Step #' + currentQuestion}}</h4>-->
                <h4>{{currentQuestionSet.questions[currentQuestion - 1].title}}</h4>
            </div>
            <div class="card-body">
                <form name="questionForm">
                    <div ng-include="'template/questions/question.html'"></div>
                </form>
            </div>
        </div>
    </div>
    <div ng-class="{'container-fluid' : currentQuestionSet.isCollaborative, 'container' : !currentQuestionSet.isCollaborative}">
        <nav aria-label="Question Pagination">
          <ul class="pagination justify-content-end">
            <li class="page-item" ng-hide="currentQuestion <= 1">
              <button class="page-link" ng-click="prev()" ng-disabled="currentQuestion <= 1">Previous</button>
            </li>
            <li class="page-item" ng-class="{'disabled' : !validateAnswer()}"
                ng-if="currentQuestionSet.questions[currentQuestion - 1].type !== 'multipleOpenQuestion' && currentQuestionSet.questions[currentQuestion - 1].hasCheckAnswerSettings &&
                !answersObject.isSubmitted && !(currentQuestionSet.questions[currentQuestion - 1].maxAttempts &&
                answers[currentQuestion - 1].attemptedAnswers && currentQuestionSet.questions[currentQuestion - 1].maxAttempts <= answers[currentQuestion - 1].attemptedAnswers.length)">
              <button class="page-link" ng-click="checkAttempt()" ng-disabled="!validateAnswer()">
                  Check Answer {{!currentQuestionSet.questions[currentQuestion - 1].maxAttempts ? '' : !answers[currentQuestion - 1].attemptedAnswers ? '(' + currentQuestionSet.questions[currentQuestion - 1].maxAttempts + ')' :
                '(' + (currentQuestionSet.questions[currentQuestion - 1].maxAttempts - answers[currentQuestion - 1].attemptedAnswers.length) + ')'}}</button>
            </li>
            <li class="page-item" ng-if="showSolution()">
              <button class="page-link" ng-click="showSolutionImg()">Show Solution</button>
            </li>
            <li class="page-item" ng-hide="currentQuestion >= currentQuestionSet.numOfQuestions" ng-class="{'disabled' : !validateAnswer()}">
              <button class="page-link" ng-click="next()" ng-disabled="currentQuestion >= currentQuestionSet.numOfQuestions || !validateAnswer()">Next</button>
            </li>
            <li class="page-item" ng-show="currentQuestion == currentQuestionSet.numOfQuestions && !answersObject.isSubmitted" ng-class="{'disabled' : !validateAnswer()}">
              <button class="page-link" ng-disabled="!validateAnswer()" data-toggle="modal" data-target="#submitModal">Submit</button>
            </li>
          </ul>
        </nav>
    </div>
</div>

<div class="chat" ng-if="currentQuestionSet.isCollaborative">
    <button type="button" class="btn btn-outline-danger btn-block" ng-click="collaborate()"
        ng-if="!waiting && !isConnect">{{session ? ('Connect with ' + (isA ? session.accountBName : session.accountAName)) : 'Find Collaborator'}}</button>
    <button class="btn btn-outline-danger btn-block" type="button" disabled ng-if="waiting">
        <span class="spinner-border spinner-border-sm"></span>
        {{session ? ('Waiting for ' + (isA ? session.accountBName : session.accountAName)) : 'Looking for collaborator'}}
    </button>
    <div ng-show="showMessage && isConnect">
        <div class="message">
            <button type="button" class="btn btn-block btn-dark" disabled>Collaborator: {{isA ? session.accountBName : session.accountAName}}</button>
            <div class="message-box" id="message-box">
                <div ng-repeat="msg in session.messages | orderBy : createdDate" class="single-message shadow px-2 py-1 mb-3 rounded clear"
                    ng-class="{'text-primary bg-light pull-left' : msg.accountId != 'Admin' && msg.accountId != account.accountId, 'text-light bg-primary pull-right' : msg.accountId == account.accountId}">
                    <div>
                        <span>{{ msg.message }}</span>
                        <span class="message-time">{{ msg.createdDate | date : 'shortTime' }}</span>
                    </div>
                </div>
            </div>
            <form ng-submit="sendMessage()">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Type message here" ng-model="chatBox.message">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="submit">Send</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <button type="button" class="btn btn-outline-secondary btn-block" ng-click="toggleMessage()" ng-if="!waiting && isConnect">
        Messages <span class="badge badge-danger" ng-show="chatBox.unreadMessage">{{chatBox.unreadMessage}}</span>
    </button>
</div>

<!-- Position it -->
<div class="toast-box" ng-if="currentQuestionSet.isCollaborative && chatBox.toastMessage && chatBox.toastMessage !== ''">
  <!-- Then put toasts within -->
  <div class="toast" data-autohide="true" data-animation="true" data-delay="5000">
    <div class="toast-header bg-light">
      <strong class="mr-auto">Updates</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
        <span>&times;</span>
      </button>
    </div>
    <div class="toast-body">
      {{ chatBox.toastMessage }}
    </div>
  </div>
</div>
