#login, #list, .student-table {
    margin-top: 15px;
}

#createAccount, .questionSet-table {
    margin-bottom: 15px;
}

.pull-right {
    float: right;
}

.flex-pull-right {
    justify-content: flex-end;
}

.flex-pull-right > button {
    margin-left: 5px;
}

.card {
    margin: 10px 0;
}

span.page-link {
    cursor: pointer;
}

.form-check, textarea.form-control {
    margin-top: 10px;
}

.card-img-top {
    width: auto;
}
