#login, #list, .student-table {
    margin-top: 15px;
}

#createAccount, .questionSet-table {
    margin-bottom: 15px;
}

.error {
    color: red;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

.flex-pull-right {
    justify-content: flex-end;
}

.flex-pull-right > button {
    margin-left: 5px;
}

.card {
    margin: 10px 0;
}

span.page-link {
    cursor: pointer;
}

.form-check, textarea.form-control {
    margin-top: 10px;
}

.card-img-top {
    width: auto;
    display: block;
    margin: 5px auto;
}

.chat {
    position: fixed;
    width: 350px;
    left: 5px;
    bottom: 8px
}

.question-section {
    margin-left: 350px;
}

.btn-outline-secondary, .btn-outline-danger {
    background-color: white;
}

.text-box {
    width: 30%;
}

.message-box {
    background-color:#f2f2f2;
    height:500px;
    border-radius:5px;
    overflow:auto;
    padding: 13px;
}

.single-message {
    word-wrap: break-word;
    max-width: 100%;
}

.toast-box {
    position: fixed;
    top: 0;
    right: 0;
}

.toast-box .toast {
    width: 350px;
}

.message-time {
    display: block;
    font-size: 12px;
    color: #adb5bd;
    text-align: right;
}

.attempt-header {
    width: 20%;
}

.answer-header {
    width: 30%;
}
