<div>
    <h6 class="card-title">Question title 2</h6>
    <p class="card-text">Some text of the question</p>
    <img src="template/questions/Temp/asset/300x200.jpg" class="card-img-top" alt="question image">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check1" ng-model="currentQuestionSet.answers[currentQuestion - 1].answer.multipleChoice1">
      <label class="form-check-label" for="check1">
        First checkbox
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check2" ng-model="currentQuestionSet.answers[currentQuestion - 1].answer.multipleChoice2">
      <label class="form-check-label" for="check2">
        Second checkbox
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check3" ng-model="currentQuestionSet.answers[currentQuestion - 1].answer.multipleChoice3">
      <label class="form-check-label" for="check3">
        Third checkbox
      </label>
    </div>
</div>
