<div ng-if="!currentQuestionSet.isCollaborative || session">
    <h6 class="card-title">{{ currentQuestionSet.questions[currentQuestion - 1].title }}</h6>
    <div ng-show="currentQuestionSet.questions[currentQuestion - 1].latex" id="latex-view">
    </div>
    <p class="card-text paragraph-text">{{ currentQuestionSet.questions[currentQuestion - 1].text }}</p>
    <img ng-if="currentQuestionSet.questions[currentQuestion - 1].image"
        ng-src="{{'template/questions/asset/' + currentQuestionSet.questions[currentQuestion - 1].image}}"
        class="card-img-top" alt="question image">

    <div ng-if="currentQuestionSet.questions[currentQuestion - 1].hint" class="card">
        <div class="card-body">
            <h5 class="card-title">Selections</h5>
            <div ng-repeat="(key, value) in currentQuestionSet.questions[currentQuestion - 1].hint track by key">
                <div class="form-check" ng-if="currentQuestionSet.questions[currentQuestion - 1].maxHintAllowedPerPerson > 1">
                  <input class="form-check-input" type="checkbox" id="{{'hint-check' + key}}"
                    ng-checked="currentCheckHints(key)"
                    ng-click="toggleHints(key)"
                    ng-disabled="checkHints(key) || originalCurrentHints.selectedHints.length === currentQuestionSet.questions[currentQuestion - 1].maxHintAllowedPerPerson">
                  <label class="form-check-label" for="{{'hint-check' + key}}">
                      {{value}}
                  </label>
                </div>
                <div class="form-check" ng-if="currentQuestionSet.questions[currentQuestion - 1].maxHintAllowedPerPerson == 1">
                  <input class="form-check-input" type="radio" id="{{'hint-radio' + key}}"
                    value={{key}} ng-model="currentHints.selectedHints[0]" ng-disabled="checkHints(key) || originalCurrentHints.selectedHints.length === currentQuestionSet.questions[currentQuestion - 1].maxHintAllowedPerPerson">
                  <label class="form-check-label" for="{{'hint-radio' + key}}">
                      {{value}}
                  </label>
                </div>
                <div ng-if="checkHints(key)">
                    {{ currentHintsText[key] }}
                </div>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-outline-primary" ng-click="reselectHints()" ng-if="showReselectHints">
                    Re-select Information
                </button>
                <span ng-show="disableHints()">Too Many/Maximum information chosen</span>
                <button type="button" class="btn btn-outline-primary" ng-click="selectHints()" ng-disabled="disableHints()">Get Information</button>
            </div>
        </div>
    </div>
    <div ng-if="currentQuestionSet.questions[currentQuestion - 1].hasCollaborationAnswer" class="card">
        <div class="card-body">
            <h5 class="card-title">Your collaboration Answer</h5>
            <div class="form-group">
                <input class="form-control text-box" type="number" ng-disabled="answersObject.isSubmitted" ng-model="answers[currentQuestion - 1].collaborationAnswer">
            </div>
        </div>
    </div>
    <div ng-if="currentQuestionSet.questions[currentQuestion - 1].type === 'singleChoice'">
        <div ng-repeat="(key, value) in currentQuestionSet.questions[currentQuestion - 1].option track by key" class="form-check">
            <input class="form-check-input" type="radio" name="singleChoice" id="{{'radio' + key}}" value="{{key}}"
              ng-model="answers[currentQuestion - 1].answer.singleChoice"
              ng-disabled="answersObject.isSubmitted">
            <label class="form-check-label" for="{{'radio' + key}}">
              {{ value }}
            </label>
        </div>
    </div>
    <div ng-if="currentQuestionSet.questions[currentQuestion - 1].type === 'multipleChoice'">
        <div ng-repeat="(key, value) in currentQuestionSet.questions[currentQuestion - 1].option track by key" class="form-check">
            <input class="form-check-input" type="checkbox" id="{{'check' + key}}"
              ng-model="answers[currentQuestion - 1].answer.multipleChoice[key]"
              ng-disabled="answersObject.isSubmitted">
            <label class="form-check-label" for="{{'check' + key}}">
              {{ value }}
            </label>
        </div>
    </div>
    <div ng-if="currentQuestionSet.questions[currentQuestion - 1].type === 'openQuestion'">
        <input type="text" class="form-control text-box" name="openQuestion" id="openQuestion" placeholder="Enter your answers here."
            ng-model="answers[currentQuestion - 1].answer.openQuestion"
            ng-disabled="answersObject.isSubmitted" />
    </div>
    <div ng-if="currentQuestionSet.questions[currentQuestion - 1].type === 'multipleOpenQuestion'">
        <div ng-repeat="letter in currentQuestionSet.questions[currentQuestion - 1].multipleOpenQuestionSymbol" class="form-row my-2">
            <div class="input-group col-sm-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">{{letter}}</div>
                </div>
                <input type="text" class="form-control text-box" name="{{'multipleOpenQuestion_' + letter}}" id="{{'multipleOpenQuestion_' + letter}}"
                    ng-model="answers[currentQuestion - 1].answer.multipleOpenQuestion[letter]"
                    ng-disabled="answersObject.isSubmitted" />
            </div>
            <div class="col-sm-3" ng-if="showMultipleOpenQuestionButton(letter)">
                <button class="btn btn-outline-info" ng-click="checkAttempt(letter)" ng-disabled="!validateAnswer(letter)">
                        Check Answer {{!currentQuestionSet.questions[currentQuestion - 1].maxAttempts[letter] ? '' : !answers[currentQuestion - 1].attemptedAnswers ? '(' + currentQuestionSet.questions[currentQuestion - 1].maxAttempts[letter] + ')' :
                    '(' + (currentQuestionSet.questions[currentQuestion - 1].maxAttempts[letter] - getCurrentMultipleOpenQuestionAttempts(letter)) + ')'}}</button>
            </div>
        </div>
    </div>
    <div ng-if="answers[currentQuestion - 1].attemptedAnswers && answers[currentQuestion - 1].attemptedAnswers.length &&
        attemptedAnswerFeedback[currentQuestion - 1] && attemptedAnswerFeedback[currentQuestion - 1].length">
        <table class="table table-bordered" ng-if="currentQuestionSet.questions[currentQuestion - 1].type !== 'multipleOpenQuestion'">
            <thead>
                <tr>
                    <th class="attempt-header">Attempts</th>
                    <th class="answer-header">Answer</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in answers[currentQuestion - 1].attemptedAnswers track by key"
                    ng-class="{'table-success': attemptedAnswerFeedback[currentQuestion - 1][key].isCorrected,
                    'table-danger': !attemptedAnswerFeedback[currentQuestion - 1][key].isCorrected}">
                    <td>{{ key + 1 }}</td>
                    <td>
                        {{getCurrentAnswerString(value)}}
                    </td>
                    <td>{{attemptedAnswerFeedback[currentQuestion - 1][key].feedback}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-if="currentQuestionSet.questions[currentQuestion - 1].type === 'multipleOpenQuestion'">
            <table class="table table-bordered" ng-repeat="letter in currentQuestionSet.questions[currentQuestion - 1].multipleOpenQuestionSymbol" ng-if="getCurrentMultipleOpenQuestionAttempts(letter)">
                <thead>
                    <tr>
                        <th class="attempt-header">Attempts ({{letter}})</th>
                        <th class="answer-header">Answer</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="value in answers[currentQuestion - 1].attemptedAnswers" ng-if="value.multipleOpenQuestion[letter] != null"
                        ng-class="{'table-success': attemptedAnswerFeedback[currentQuestion - 1][$index][letter].isCorrected,
                        'table-danger': !attemptedAnswerFeedback[currentQuestion - 1][$index][letter].isCorrected}">
                        <td>{{ $index + 1 }}</td>
                        <td>
                            {{getCurrentAnswerString(value, letter)}}
                        </td>
                        <td>{{attemptedAnswerFeedback[currentQuestion - 1][$index][letter].feedback}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="solutionImgPath[currentQuestion - 1]">
        <img
            ng-src="{{'template/questions/asset/solutions/' + solutionImgPath[currentQuestion - 1]}}"
            class="card-img-top" alt="solution image">
    </div>
</div>

<div ng-if="currentQuestionSet.isCollaborative && !session">
    <div>Wel­come to CHOPS, a platform for online collaborative problem solving. You have been asked to use this experimental system, which is in development by education researchers. Hopefully it will be a smooth ride, but If you find any bugs or glitches, we apologize.</div>
    <br />
    <div>Today you will work on solving one physics ques­tion with a class­mate. The pairing will happen online, automatically and randomly. After you’re done working on the problem together, we will ask you three very short sur­vey ques­tions to help us im­prove the sys­tem.
Pairing will happen when you click on the “Find Collaborator” button on the left. You will then be able to chat with your partner using text messages and provide answers to the physics problem.</div>
</div>
