<div>
    <h6 class="card-title">Collaborative Question title 1</h6>
    <p class="card-text">Some text of the question</p>
    <img src="{{templateFolderPath + currentQuestionSet.questionSetId + '/asset/600x400.png'}}" class="card-img-top" alt="question image">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="singleChoice" id="radio1" value="a"
        ng-model="currentQuestionSet.answers[currentQuestion - 1].answer.singleChoice"
        ng-disabled="currentQuestionSet.answers[currentQuestion - 1]._id">
      <label class="form-check-label" for="radio1">
        First Choice
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="singleChoice" id="radio2" value="b"
        ng-model="currentQuestionSet.answers[currentQuestion - 1].answer.singleChoice"
        ng-disabled="currentQuestionSet.answers[currentQuestion - 1]._id">
      <label class="form-check-label" for="radio2">
        Second Choice
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="singleChoice" id="radio3" value="c"
        ng-model="currentQuestionSet.answers[currentQuestion - 1].answer.singleChoice"
        ng-disabled="currentQuestionSet.answers[currentQuestion - 1]._id">
      <label class="form-check-label" for="radio3">
        Third Choice
      </label>
    </div>
</div>
