<div ng-init="currentQuestionSet.answers[currentQuestion - 1].answer.multipleChoice = currentQuestionSet.answers[currentQuestion - 1].answer.multipleChoice || {};">
    <h6 class="card-title">Collaborative Question title 2</h6>
    <p class="card-text">Some text of the question</p>
    <img src="{{templateFolderPath + currentQuestionSet.questionSetId + '/asset/300x200.jpg'}}" class="card-img-top" alt="question image">
    <div ng-if="session" class="card">
        <div class="card-body">
            <h5 class="card-title">Hints</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="hint-check1"
                ng-checked="checkHints('a')"
                ng-click="toggleHints('a')"
                ng-disabled="checkHints('a')">
              <label class="form-check-label" for="hint-check1">
                First hint checkbox
              </label>
            </div>
            <div ng-if="checkHints('a')">
                First hint
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="hint-check2"
                ng-checked="checkHints('b')"
                ng-click="toggleHints('b')"
                ng-disabled="checkHints('b')">
              <label class="form-check-label" for="hint-check2">
                Second hint checkbox
              </label>
            </div>
            <div ng-if="checkHints('b')">
                Second hint
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="hint-check3"
                ng-checked="checkHints('c')"
                ng-click="toggleHints('c')"
                ng-disabled="checkHints('c')">
              <label class="form-check-label" for="hint-check3">
                Third hint checkbox
              </label>
            </div>
            <div ng-if="checkHints('c')">
                Third hint
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-outline-primary" ng-click="selectHints()">Get Hints</button>
            </div>
        </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check1"
        ng-model="currentQuestionSet.answers[currentQuestion - 1].answer.multipleChoice.a"
        ng-disabled="currentQuestionSet.answers[currentQuestion - 1]._id">
      <label class="form-check-label" for="check1">
        First checkbox
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check2"
        ng-model="currentQuestionSet.answers[currentQuestion - 1].answer.multipleChoice.b"
        ng-disabled="currentQuestionSet.answers[currentQuestion - 1]._id">
      <label class="form-check-label" for="check2">
        Second checkbox
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check3"
        ng-model="currentQuestionSet.answers[currentQuestion - 1].answer.multipleChoice.c"
        ng-disabled="currentQuestionSet.answers[currentQuestion - 1]._id">
      <label class="form-check-label" for="check3">
        Third checkbox
      </label>
    </div>
</div>
